# Encoding defaults
blocksize : 8

# Twitter account information
# These keys are pulled from the environment by default,
# but you can set them here instead.
# consumer.key : abcd123abcd123abcd123abcd123
# secret.key : abcd123abcd123abcd123abcd123
# access.token : abcd123abcd123abcd123abcd123
# access.token.secret : abcd123abcd123abcd123
ca.path : 
lang : en

# Logging defaults
log.file : /var/log/twitter-subliminal
log.level : information
log.pattern : %Y-%m-%d %H:%M:%S %s %p [%P %I] %t

# Performance Testing defaults
update.interval : 20
sample.time : 5
blocks.trial : 10